## API Call from LTA DataMall

In [1]:
import requests
import pandas as pd
import os
import json

### Set your own LTA DataMall API Key

In [ ]:
LTA_KEY = " "

In [13]:
def fetch_data(resource_url):
    all_data = []
    skip_value = 0
    while True:
        url = f"{resource_url}?$skip={skip_value}"
        headers = {
            'AccountKey': LTA_KEY,
            'accept': 'application/json'
        }
        response = requests.get(url, headers=headers)

        if response.status_code == 200:
            data = response.json()

            if len(data['value']) == 0:
                break

            all_data.extend(data['value'])
            skip_value += 500
        else:
            raise Exception(f"Failed to retrieve data. Status code: {response.status_code}")
    
    return pd.DataFrame(all_data)


data_dir = "Bus_RoutesStopsServices"
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

bus_routes_url = "http://datamall2.mytransport.sg/ltaodataservice/BusRoutes"
bus_routes_df = fetch_data(bus_routes_url)
bus_routes_df.to_csv(f"{data_dir}/bus_routes.csv", index=False)

bus_stops_url = "http://datamall2.mytransport.sg/ltaodataservice/BusStops"
bus_stops_df = fetch_data(bus_stops_url)
bus_stops_df.to_csv(f"{data_dir}/bus_stops.csv", index=False)

bus_services_url = "http://datamall2.mytransport.sg/ltaodataservice/BusServices"
bus_services_df = fetch_data(bus_services_url)
bus_services_df.to_csv(f"{data_dir}/bus_services.csv", index=False)

## Filter for Trunk

In [16]:
data_dir = "Bus_RoutesStopsServices"
bus_routes = pd.read_csv(f"{data_dir}/bus_routes.csv")
bus_services = pd.read_csv(f"{data_dir}/bus_services.csv")
bus_stops = pd.read_csv(f"{data_dir}/bus_stops.csv")

In [17]:
print(bus_routes.head())
print(bus_services.head())
print(bus_stops.head())

  ServiceNo Operator  Direction  StopSequence  BusStopCode  Distance  \
0        10     SBST          1             1        75009       0.0
1        10     SBST          1             2        76059       0.6
2        10     SBST          1             3        76069       1.1
3        10     SBST          1             4        96289       2.3
4        10     SBST          1             5        96109       2.7

  WD_FirstBus WD_LastBus SAT_FirstBus SAT_LastBus SUN_FirstBus SUN_LastBus
0        0500       2300         0500        2300         0500        2300
1        0502       2302         0502        2302         0502        2302
2        0504       2304         0504        2304         0503        2304
3        0508       2308         0508        2309         0507        2308
4        0509       2310         0509        2311         0508        2309
  ServiceNo Operator  Direction Category  OriginCode  DestinationCode  \
0       118      GAS          1    TRUNK     65009.0          97009.0
1       118      GAS          2    TRUNK     97009.0          65009.0
2      118A      GAS          1    TRUNK     65009.0          96119.0
3      118B      GAS          1    TRUNK     96111.0          65191.0
4       119      GAS          1    TRUNK     65009.0          65009.0

  AM_Peak_Freq AM_Offpeak_Freq PM_Peak_Freq PM_Offpeak_Freq       LoopDesc
0         5-08            8-12         8-10           09-14            NaN
1        10-10            8-11         4-08            9-12            NaN
2        06-66               -            -               -            NaN
3            -               -        24-57               -            NaN
4        09-13           12-18        12-15           15-17  Hougang St 21
   BusStopCode       RoadName          Description  Latitude   Longitude
0         1012    Victoria St  Hotel Grand Pacific  1.296848  103.852536
1         1013    Victoria St      St. Joseph's Ch  1.297710  103.853225
2         1019    Victoria St      Bras Basah Cplx  1.296990  103.853022
3         1029  Nth Bridge Rd         Opp Natl Lib  1.296673  103.854414
4         1039  Nth Bridge Rd           Bugis Cube  1.298208  103.855491

In [46]:
# Filter for TRUNK services with Direction = 1
trunk = bus_services[bus_services['Category'] == 'TRUNK']
trunk = trunk[trunk['Direction'] == 1]

In [47]:
bus_routes = bus_routes[bus_routes['Direction'] == 1]
merged_data = pd.merge(bus_routes, trunk[['ServiceNo']], on='ServiceNo', how='inner')
merged_data

,ServiceNo,Operator,Direction,StopSequence,BusStopCode,Distance,WD_FirstBus,WD_LastBus,SAT_FirstBus,SAT_LastBus,SUN_FirstBus,SUN_LastBus
0,10,SBST,1,1,75009,0.0,0500,2300,0500,2300,0500,2300
1,10,SBST,1,2,76059,0.6,0502,2302,0502,2302,0502,2302
2,10,SBST,1,3,76069,1.1,0504,2304,0504,2304,0503,2304
3,10,SBST,1,4,96289,2.3,0508,2308,0508,2309,0507,2308
4,10,SBST,1,5,96109,2.7,0509,2310,0509,2311,0508,2309
...,...,...,...,...,...,...,...,...,...,...,...,...
14818,9B,SBST,1,25,95091,9.5,0741,0817,-,-,-,-
14819,9B,SBST,1,26,95131,9.7,0742,0818,-,-,-,-
14820,9B,SBST,1,27,95141,10.2,0744,0820,-,-,-,-
14821,9B,SBST,1,28,95061,10.6,0745,0821,-,-,-,-
14822,9B,SBST,1,29,95051,11.0,0747,0823,-,-,-,-

In [49]:
final_data = pd.merge(merged_data, bus_stops, on='BusStopCode', how='left')
final_data

,ServiceNo,Operator,Direction,StopSequence,BusStopCode,Distance,WD_FirstBus,WD_LastBus,SAT_FirstBus,SAT_LastBus,SUN_FirstBus,SUN_LastBus,RoadName,Description,Latitude,Longitude
0,10,SBST,1,1,75009,0.0,0500,2300,0500,2300,0500,2300,Tampines Ctrl 1,Tampines Int,1.354076,103.943391
1,10,SBST,1,2,76059,0.6,0502,2302,0502,2302,0502,2302,Tampines Ave 5,Opp Our Tampines Hub,1.352962,103.941652
2,10,SBST,1,3,76069,1.1,0504,2304,0504,2304,0503,2304,Tampines Ave 5,Blk 147,1.348753,103.942086
3,10,SBST,1,4,96289,2.3,0508,2308,0508,2309,0507,2308,Simei Ave,Changi General Hosp,1.340055,103.948381
4,10,SBST,1,5,96109,2.7,0509,2310,0509,2311,0508,2309,Simei Ave,Opp Blk 3012,1.337371,103.950673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14818,9B,SBST,1,25,95091,9.5,0741,0817,-,-,-,-,Nicoll Dr,SAF Ferry Ter,1.387214,103.999714
14819,9B,SBST,1,26,95131,9.7,0742,0818,-,-,-,-,Airline Rd,Police Pass Off,1.385252,103.999834
14820,9B,SBST,1,27,95141,10.2,0744,0820,-,-,-,-,Airline Rd,Aft Cargo Bldg D,1.381386,103.998191
14821,9B,SBST,1,28,95061,10.6,0745,0821,-,-,-,-,Airline Rd,Airline Hse,1.377552,103.996539
14822,9B,SBST,1,29,95051,11.0,0747,0823,-,-,-,-,Airline Rd,3rd Cargo Agents,1.375283,103.996196

## Check

In [50]:
unique_service_numbers = final_data['ServiceNo'].unique()

trunk_service_numbers = trunk['ServiceNo'].unique()

all_trunk_services = all(service in trunk_service_numbers for service in unique_service_numbers)

if all_trunk_services:
    print("All ServiceNo in final_data are trunk services with Direction = 1.")
else:
    print("Not all ServiceNo in final_data are trunk services with Direction = 1.")

All ServiceNo in final_data are trunk services with Direction = 1.

In [51]:
final_data.to_csv(f"{data_dir}/trunkroute.csv", index=False)